<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>pos</title>
<script>
    function showPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var positionInfo = "posizione (" + "Latitudine: " + position.coords.latitude + ", " + "Longitudine: " + position.coords.longitude + ")";
                document.getElementById("result").innerHTML = positionInfo;
            });
        } else {
            alert("niente geolocalizzazione");
        }
    }
</script>
</head>
<body>
    <div id="result">
        
    </div>
    <button type="button" onclick="showPosition();">posizione</button>
</body>
</html>