{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orbital Sky</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{%static '/css/style_home.css' %}">
  <script src="{%static '/js/script_home.js' %}"></script>
</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="{%static 'full.mp4' %}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">
	  <div class="container-fluid">
	  
	  <img src="{%static 'newton.png'%}" alt="logo" width="160" height="100">
	   <div class="btn-group"><h1>Orbital AR Tecnology</h1></div>
		
		<ul class="nav navbar-nav navbar-right">
		  <div class="btn-group">
        <form class="form-inline" action="vr">
         <li> <button >geolocation</button></li>
        </form>
      </div> 
      <div class="btn-group">
        
      </div>
      <div class="btn-group">
        <form class="form-inline">
          <li><input type="text" class="form-control" placeholder="enter satellite name" name="search"></li>
        </form>
      </div> 
      <div class="btn-group">

      </div>
      <div class="btn-group">
        <form class="form-inline"  action="vr">
          <li><button >cerca</button></li>
        </form>
      </div> 
		</ul>
	  </div>
</div>
</body>
</html>
