<html>
  <head>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-system@1.4.0/dist/aframe-physics-system.min.js"></script>

  </head>
  <body onload="showPosition()">
    <a-scene>
      <a-assets>
        <img id="skytexture" src="http://www.eso.org/public/archives/images/screen/eso1501a.jpg">
      </a-assets>
      <a-camera position='{{x}} {{y}} {{z}}' user-height='0'></a-camera>
        <a-sphere src="https://raw.githubusercontent.com/aframevr/sample-assets/master/assets/images/space/earth_atmos_4096.jpg" radius="1" segments-height="53">
           
         </a-sphere>
        <a-sky src="#skytexture" rotation="90 90 0"></a-sky>
    </a-scene>
    <script>
      function showPosition() {
          if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                  var positionInfo = "posizione (" + "Latitudine: " + position.coords.latitude + ", " + "Longitudine: " + position.coords.longitude + ")";
                  document.getElementById("result").innerHTML = positionInfo;
              });
          } else {
              alert("niente geolocalizzazione");
          }
      }
  </script>
  </body>
</html>


